<!DOCTYPE html>
<!-- ng-app define as fronteiras que o Angular irá utilizar, recomendado usar em tags altas (html ou body) -->
<html lang="pt-BR" ng-app="listaTelefonica">
<head>
  <meta charset="UTF-8">
  <title>Lista Telefonica</title>
  <link rel="stylesheet" href="lib/bootstrap/bootstrap.css" media="screen" title="no title" charset="utf-8">
  <style>
    .jumbotron{
      width: 400px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
    .table {
      margin-top: 20px;
    }
    .form-control {
      margin-bottom: 5px;
      margin-left: 20px;
      width: 90%;
    }
  </style>
  <script src="lib/angular/angular.js"></script>
  <script>
    //criação do modulo listaTelefonica
    angular.module("listaTelefonica", []);
    // localizando um controller e registrando-o
    angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
      $scope.app = "Lista Telefonica";
      $scope.contatos = [
        { nome: "Antonio", telefone: "99998888" },
        { nome: "Carlos", telefone: "99998877" },
        { nome: "Nogueira", telefone: "99998866" },
        { nome: "Junior", telefone: "99998855" }
      ];
    });
  </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
  <div class="jumbotron">
    <!--
    ng-bind, ele substitui um elemente por uma expressão, porém é mais usado as chaves {{}}
      <h4 ng-bind="app"></h4>
    -->
    <h3>{{app}}</h3>
    <table class="table table-striped">
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
      </tr>
      <!-- o parametro do ng-repeat seria um argumento in (no) array, com temos uma estrutura de repetição que vai
          rodar quantas vezes forem necessárias -->
      <tr ng-repeat="contato in contatos">
        <td>{{ contato.nome }}</td>
        <td>{{ contato.telefone }}</td>
      </tr>
    </table>

    <input type="text" class="form-control" ng-model="nome" />
    <input type="text" class="form-control" ng-model="telefone" />
  </div>
</body>
</html>
